@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap'); 

body {
    background-color: #c661ff;

}

.cabecalho {
    background-color: #e5e5e5;

    width: 80vw;
    height: 40vh;

    margin: 0 auto;
    margin-top: 3.5vh;

    padding: 2vw;

    border-radius: 5vh;

    display: grid;
    grid-template-columns: min-content 1fr;

    column-gap: 25px;
    row-gap: 15px;
    box-sizing: border-box;

}

.ano-caixa {
    background-color: #cdb4db;

    grid-row: span 2;

    align-self: center;

    border-radius: 15px;

    width: 13vw;
    height: 33vh;

    display: grid;
    justify-items: center;
}

.ano1, .ano2, .mes {
    color: white;

    font-family: 'Quicksand';
    font-weight: 100;
    font-size: 5rem;
}

.ano1 {
    align-self:flex-end;
}

.cabecalho-titulo, .coluna-titulo, .atividade-titulo {
    font-family: 'Quicksand';
    font-size: 3rem;
    font-weight: 600;

}

.coluna-titulo, .coluna-descricao, .novidades-semanais {
    text-align: center;
}

.cabecalho-titulo {
    align-self: flex-end;
}

.cabecalho-subtitulo, .coluna-descricao, .novidades-semanais {
    font-family: 'Quicksand';
    font-size: 2rem;
    font-weight: 300;
}


.principal {
    display: grid;
    grid-template-columns: 24vw 1fr;

    width: 80vw;

    margin: 0 auto;
    column-gap: 2vw;

    justify-items: center;
}

.coluna-mes {
    background-color: #e5e5e5;

    width: 24vw;

    margin-top: 3.5vh;
    padding: 2vw;
    row-gap: 2rem;
    columns: 1;

    border-radius: 15px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}

.mes-caixa {
    background-color: #cdb4db;

    align-self: center;

    border-radius: 15px;

    width: 18vw;
    height: 38vh;

    display: grid;
    justify-items: center;
    align-items: center;
}

.coluna-semana {
    background-color: #e5e5e5;

    width: 54vw;

    margin-top: 3.5vh;
    padding: 2vw;
    row-gap: 2vw;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    columns: 2;

    box-sizing: border-box;
}

.semana-caixa {
        background-color: #cdb4db;
    
        align-self: center;
    
        border-radius: 15px;
    
        width: 50vw;
        height: 38vh;
    
        display: grid;
        justify-items: center;
        align-items: center;
}

.semana {
    color: white;

    font-family: 'Quicksand';
    font-weight: 100;
    font-size: 3rem;
}

.atividades-tech {
        background-color: #e5e5e5;
    
        width: 80vw;
    
        margin-top: 3.5vh;
        padding: 2vw;
        row-gap: 2vw;
        grid-column: span 2;
    
        border-radius: 15px;
    
        display: flex;
        flex-direction: column;
    
        box-sizing: border-box;
}

.atividades-alura {
    display: grid;
    grid-template-columns: auto 1fr;

    align-items: center;
    column-gap: 2vw;
}

.atividades-caixa {
    background-color: #cdb4db;
    
        align-self: center;
    
        border-radius: 100%;
    
        width: 200px;
        height: 200px;
    
        display: grid;
        justify-items: center;
        align-items: center;
        align-self: center;
}

.alura {
    color: white;

    font-family: 'Quicksand';
    font-weight: 100;
    font-size: 3rem;
    
}
